@import "reset.css";

nav {
  display: flex;
}

.contacts,
.about,
.my-skills,
.projects,
.toggle,
.my-name,
.about-me,
.description,
.skill-header,
.skills,
.copyright,
.my-photo,
.my-projects,
.project,
.github,
.linkedin,
.my-contact,
.please-contact,
.send,
form {
  position: relative;
}
.toggle {
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  height: 52px;
  background-color: #e5e7eb;
  color: black;
  border-radius: 30px;
  border: 2px solid gray;
}
.toggle:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
.black-white {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.063rem;
}

.checkbox:checked + .toggle::after {
  left: 50px;
}

.checkbox:checked + .toggle {
  color: white;
  background-color: #262626;
}

.checkbox {
  display: none;
}

.about,
.my-skills,
.projects,
.contacts {
  color: black;
  text-decoration: none;
  margin: 20px;
  font-size: 2rem;
  left: 120vh;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
}
.toggle {
  cursor: pointer;
  left: 130vh;
}
.logo {
  cursor: pointer;
  position: absolute;
  left: 4rem;
  top: -2px;
}

.home:hover,
.about:hover,
.my-skills:hover,
.projects:hover,
.contacts:hover {
  border-bottom: 2px solid black;
}

.my-name {
  font-size: 4rem;
  left: 20%;
  width: 70rem;
  margin-top: 20rem;
  font-family: "Nova Square", sans-serif;
  margin-bottom: 25rem;
}
.about-me {
  width: 40rem;
  margin-top: 20%;
  left: 18%;
  font-size: 3rem;
}
.description {
  border: 2px solid black;
  width: 62.5rem;
  font-size: 2rem;
  height: 25rem;
  left: 20%;
  margin-bottom: 23rem;
}
.skill-header {
  left: 25%;
  width: 62.5rem;
  font-size: 3rem;
}
.skills {
  margin-bottom: 20rem;
  width: 40rem;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  left: 40%;
}
.specific-skill {
  border: 2px solid black;
}
.copyright {
  width: 62.5rem;
  left: 40%;
}
.my-photo {
  left: 40%;
}
.my-projects {
  width: 50rem;
  height: 30rem;
  left: 30%;
  border: 2px solid black;
  margin-top: 60px;
}
.project,
.github,
.linkedin {
  left: 60%;
}
.my-project-header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  width: 114rem;
}
.my-contact {
  left: 15%;
  font-size: 2rem;
  font-weight: bold;
  width: 75rem;
  margin-bottom: 0;
}
.please-contact {
  width: 75rem;
  margin-bottom: 3rem;
  left: 15%;
}
form {
  width: 40rem;
  display: grid;
  grid-template-columns: 50px 600px;
  left: 40%;
}
.logo-linkedin,
.logo-twitter {
  grid-column: 1;
}
.email,
.send,
.message,
.name {
  margin-left: 20px;
  grid-column: 2;
  margin-bottom: 10px;
  width: 590px;
  font-size: 1.2rem;
}
.name {
  grid-row: 1;
}
.email,
.name {
  height: 30px;
}
.message {
  height: 90px;
  resize: none;
}
.email {
  grid-row: 2;
}
.send {
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  right: 20px;
  font-weight: inherit;
}
svg {
  width: 50px;
  height: 50px;
}
.rskill {
  margin-left: 17px;
  margin-top: 17px;
  width: 120px;
  height: 120px;
  cursor: pointer;
}
footer {
  margin-top: 20rem;
}
