@import "reset.css";

:root {
  --body-color: #121211;
  --blue-color: #3498db;
  --nav-color: #333333;
  --footer-color: #555555;
  --text-color: #ffffff;
  transition: var(--transition-duration, all 1s);
}

body {
  overflow-x: hidden;
  background-color: var(--body-color);
  color: var(--text-color);
}
nav {
  display: flex;
  width: 100%;
  background-color: var(--nav-color);
  position: fixed;
  top: 0;
  left: 0;
}
h1,
h2,
h3 {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--body-color);
}
.contacts,
.about,
.my-skills,
.projects,
.toggle,
.my-name,
.about-me,
.description,
.skill-header,
.skills,
.copyright,
.my-photo,
.my-projects,
.project,
.github,
.linkedin,
.my-contact,
.please-contact,
.send,
form {
  position: relative;
}
.toggle {
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  height: 52px;
  background-color: var(--text-color);
  color: var(--body-color);
  border-radius: 30px;
  border: 2px solid var(--nav-color);
}
.toggle:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--nav-color);
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
.black-white {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.063rem;
}

.checkbox:checked + .toggle::after {
  left: 50px;
}

.checkbox:checked + .toggle {
  color: var(--text-color);
  background-color: var(--body-color);
}

.checkbox {
  display: none;
}

.about,
.my-skills,
.projects,
.contacts {
  text-decoration: none;
  margin: 20px;
  font-size: 2rem;
  left: 120vh;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
}
.toggle {
  cursor: pointer;
  left: 130vh;
}
.logo {
  cursor: pointer;
  position: absolute;
  left: 4rem;
  top: 5px;
}

.home:hover,
.about:hover,
.my-skills:hover,
.projects:hover,
.contacts:hover {
  border-bottom: 2px solid var(--body-color);
}

.my-name {
  font-size: 4rem;
  left: 20%;
  margin-top: 20rem;
  font-family: "Nova Square", sans-serif;
  margin-bottom: 25rem;
}
.about-me {
  font-weight: bold;
  margin-top: 30rem;
  left: 18%;
  font-size: 3rem;
}
.description {
  width: 62.5rem;
  font-size: 2rem;
  height: 25rem;
  left: 20%;
  margin-bottom: 30rem;
}
.skill-header {
  left: 15%;
  font-size: 3rem;
}
.skills {
  margin-bottom: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: repeat(3, 10rem);
  left: 30%;
}
.specific-skill {
  border: 2px solid var(--text-color);
}
.copyright {
  left: 40%;
}
.my-photo {
  left: 40%;
}
.my-projects {
  height: 32rem;
  left: 15%;
  border: 2px solid var(--text-color);
  margin-top: 30rem;
  width: 70rem;
}
#my-project-header {
  position: relative;
  bottom: 100px;
}
#skill-header {
  position: relative;
  bottom: 100px;
}
.project,
.github,
.linkedin {
  left: 60%;
}
.my-project-header {
  position: relative;
  left: 35%;
  font-size: 3rem;
}
.my-contact {
  left: 15%;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
.move {
  position: relative;
  top: 450px;
}
.please-contact {
  margin-bottom: 3rem;
  width: 62.5rem;
  left: 15%;
}
.one {
  margin-top: 2rem;
}
form {
  display: grid;
  grid-template-columns: 50px 600px;
  left: 40%;
}
.logo-linkedin,
.logo-twitter {
  grid-column: 1;
}
.email,
.send,
.message,
.name {
  margin-left: 1.25rem;
  grid-column: 2;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.name {
  grid-row: 1;
}
.email,
.name {
  height: 1.875rem;
}
.message {
  height: 90px;
  resize: none;
}
.email {
  grid-row: 2;
}
.send {
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: inherit;
}
svg {
  width: 50px;
  height: 50px;
}
.rskill {
  margin-left: 17px;
  margin-top: 17px;
  width: 120px;
  height: 120px;
  cursor: pointer;
}
footer {
  position: relative;
  top: 17px;
  background-color: var(--footer-color);
  color: var(--text-color);
  margin-top: 30rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduces-motion) {
  .hidden {
    transition: none;
  }
}

.github-svg {
  fill: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
}
.github-svg:hover {
  fill: var(--blue-color);
  border-color: var(--blue-color);
}
.next-js-svg {
  margin-top: 17px;
  width: 120px;
  height: 120px;
  fill: var(--text-color);
}
.twitter-svg:hover {
  fill: var(--text-color);
}
.twitter-svg {
  fill: var(--blue-color);
}
